<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard user</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <form action="/Index" method="post">
        <button id="back" name="button" value="back /" style="background-color: brown;">Back</button>
        <button id="user" name="button" value="user /" style="background-color: blue;">All</button>
        <button id="dirs" name="button" value="directories /" style="background-color: blueviolet;">directories</button>
        <button id="files" name="button" value="files /" style="background-color: red;">files</button>
        <button id="space" name="button" value="space /" style="background-color: green;">space</button>
        <button id="logout" name="button" value="logout /" style="background-color: deeppink;margin-bottom: 20px;">logout</button><br>
        <label>{{ var }}</label><br><br>
        <input type="text" name="input" placeholder="Rechercher"/><button name="button" value="rechercher" style="background: none;margin-left: 10px;color: black;background-color: blue;">rechercher</button><br><br>
        <button name="button" value="download /"  style="background: none;margin-left: 10px;color: black;background-color: blue;">download</button>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Size</th>
                    <th>Path</th>
                </tr>
            </thead>
            <tbody>
                {% for dir in dirs %}
                    <tr>
                        <td><button name="button" value="{{dir[0]}} {{ dir[3] }}" style="background: none;color: black;">{{ dir[0] }}</button></td>
                        <td>{{ 'Directory' if dir[1] else 'File' }}</td>
                        <td>{{ dir[2] }} bytes</td>
                        <td>{{ dir[3] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</body>
</html>        