<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp -> Users</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <center>
        <h1 style="font-size: 30px;font-weight: bold;">For Users</h1>
        <form action="/signUp" method="post" class="form">
            <label style="display: block;">* User Name *</label>
            <input type="text" placeholder="enter your user name" name="login">
            <label style="display: block;margin-top: 20px;">* User Password *</label>
            <input type="password" placeholder="enter your password" name="password"><br><br>
            <button type="submit" style="background-color: gray;font-size: 20px;font-weight: bold;">signUp</button>
        </form>
        <h6 style="color:red">{{error_auth}}</h6>
    </center>
</body>
</html>